*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: myNoto;
    src: url(font/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf);
}
body{
    font-family: myNoto;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    color: #97a3af;
    background-image: url(img/wallpaper.webp);
    background-size:cover;
    >nav{
        width: 100%;
        background-color:#1d2025;
        height: 50px;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 30px;
        >h3{
            font-size: 15px;
            width: 100%;
        }
    }
    >main{
        width: 100%;
        flex-wrap: wrap;
        #boardTitle{
            display: flex;
            justify-content:space-between;
            align-items: center;
            width: 100%;
            height: 60px;
            background-color: #121214;
            color: white;
            font-size: 15px;
            padding-left: 30px;
            padding-right: 30px;
            #addListBtn{
                border-radius: 10px;
                padding-left: 15px;
                padding-right: 30px;
                padding-top: 5px;
                padding-bottom: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #4f4f51;
                border: none;
                color: white;
                font-size: 15px;
                font-weight: 550;
                &:hover{
                    background-color: #3f3f41;
                }
                >svg{
                    color: white;
                    width: 30px;
                    margin-right: 15px;
                }    
            }
        }    
    }
    #boardArea{
        width: 100%;
        display: flex;
        justify-content: left;
        height: 100%;
    }
    .boardList{
        margin: 20px;
        width: 18%;
        height:75vh;
        background-color: #101204;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-content: first baseline;
        border-radius: 10px;
        color: #adb4b6;
        display: flex;
        flex-wrap: wrap;

        align-items: center;
        padding: 10px;
        >h2{
            display: flex;
            justify-content: left;
            padding: 15px;
            width: 100%;
            margin-bottom: 10px;
        }
        >button{
            padding: 15px;
            width: 100%;
            display: flex;
            justify-content: left;
            align-items: center;
            background-color: transparent;
            border: none;
            color: #adb4b6;
            font-weight: 500;
            font-size: 15px;
            font-weight: 700;
            border-radius: 10px;
            margin-bottom: 10px;
            &:hover{
                background-color: #474548;
            }
            >svg{
                width: 20px;
                margin-right: 10px;
            }
        }
        >h2{
            color: #adb4b6;
            width: 100%;
            text-align: center;
            font-size: 15px;
        }    
    }
    .boardItem{
        margin-bottom: 10px;
        width: 100%;
        height: 12vh;
        cursor:move;
        background-color: #22272b;
        border-radius: 10px;
        display: flex;
        justify-content: space-betweens;
        border: 2px solid transparent;

        &:hover{
            border: 2px solid white;
            >div{
                >svg{
                    color: white;
                }
            }
        }
        div{
            width: 10%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            justify-content: space-between;
            >svg{
                cursor: pointer;
                width: 20px;
                height: 20px;
                &:hover{
                    scale: 1.2;
                }
                &:last-child{
                    cursor: move;
                }
            }
        }
        >textarea{
            overflow: hidden;
            max-lines: 4;
            padding: 10px;
            width: 80%;
            height: 90%;
            background-color: transparent;
            resize: none;
            color: #adb4b6;
            font-size: 20px;
            font-weight: 500;
            border: none;
            &:focus{
                border: none;
                outline: none;

            }
        }
    }
    #info {
        padding: 5px;
        font-size: 10px;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        >a{
            margin-left: 10px;
            color: white;
            text-decoration: none;
            font-size: 20px;
        }
    }

}
